@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

body {
    margin: 0px;
    background-color: #3A435E;
    font-family: Abeezee;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
}

.section {
    display: flex;
}

.section.intro {
    flex-direction: column;
    align-items: center;
}

.sub-heading{
    font-size: 1.5rem;
    margin-top: 0px;
}

.section.intro > .info{
    text-align: center;
}

.heading {
    margin-bottom: 0px;
    font-size: 6rem;
}
